header,
section {
  overflow-x: hidden;
}
body{
  background-color: rgb(252, 247, 247);
}
a {
  font-family: Crimson Text;
  font-weight: 400;
  font-size: 1em;
  color: #888888
}
.nav-item:last-child {
  padding-right: 3em;
}
.nav-item {
  padding: 0.9em;
  
}
.navbar-brand {
  padding-left: 4rem;
  color: #818181;
  font-size: 1em;
}
.navbar-brand:hover{
  color: #888888;
}
.nav-link:hover {
  color: #888888;
  text-decoration: line-through;

}
.navbar-toggler i{
  color: #555555;
}

/* end nav */

/* search bar */
.openBtn {
  background: transparent;
  border: none;
  
  font-size: 16px;
  line-height: 20px;;
  cursor: pointer;
  color: #888888;

}

.openBtn:hover {
  color: #888888;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(252, 247, 247);
  background-color: rgb(252, 247, 247);
}
.overlay h6{
  padding-top: 1rem;
  margin-top: 1rem;
  float: left;
}
.overlay form input{
  border: 1px;
  color: black;

}
.overlay form input::placeholder{
  color: black;
  font-size: 30px;
  font-weight: 300;
}

.overlay-content {
  position: relative;
  top: 40%;
  width: 80%;
  text-align: center;
  margin-top: 20px;
  margin: auto;
  margin-left: 15rem;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 50px;
  font-weight: 200;
  cursor: pointer;
  color: black;
}

.overlay .closebtn:hover {
  color: #666666;
}

.overlay input[type=text] {
  padding: 20px;
  font-size: 28px;
  float: left;
  width: 80%;
  background: rgb(252, 247, 247);
  font-weight: 500;
  border: 2px black;
  letter-spacing: 2px;
  color: black;


}
 .overlay  .border{
   border: 3px 3px 3px 3px black !important;
   border-bottom: 1px solid black !important;
   border-left:  1px solid black !important;
   border-top: 1px solid black !important;
   border-right: 1px solid black !important;

}
form{

  
}

.overlay input[type=text]:hover {
  background: rgb(252, 247, 247);
  box-sizing: border-box;

}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: transparent;
  font-size: 17px;
  border: none;
  cursor: pointer;
  padding: 20px;
  font-size: 28px;
}

.overlay button:hover {
  background:;
}
.openBtn .ico i{
  background-color: transparent;
  color: #888888;
}

/* end search bar */


/* sidebar  */



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  float: left;

}
nav .fa-ellipsis-v{
  font-size: 15px;
  margin-bottom: 1rem;
  padding-left: 2rem;
  
  color: #818181;
}

.sidenav a {
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ccc;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
nav .content .main1{
  padding-left: 10rem;
  font-family: Crimson Text;;
}
nav .content .links{
  padding-left: 10rem;
  padding-top: 1rem;
}
nav .main1 .com a{
  font-size: 30px;
}

/* end sidebar */

/* main page */
.section-1 .home h1{
  padding-top: 10rem;
  font-size: 4em;
  font-family: Cormorant Garamond;
  font-weight:400;
  transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.section-1 .home p{
  padding-top: 1rem;
  transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
/* end home page */

/* Project Area */ 

.project-area{
  margin-top: 5rem;
  padding-top: 4rem;
  padding-left: 4rem;
}
.project-area .our-project{
  padding: 1rem;
}
.project-area .our-project img:hover{
  transform: scale(1);
  transition:  0.5s;
  opacity: 0.5;
  transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

main .project-area p{
  font-size: 1.2em;
  color: #888888;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
main .row2 button{
  margin-left: 2rem;
}
main .project-titile{
  width: auto;
  height: 800px;
  overflow: hidden;
}
button:focus,
button:active
.btn:active{
  outline: 0px !important;
  box-shadow: 0px !important;
}

main .project-area .grid .our-project > .title h4{
  font: normal 700 25px/12px var(--roboto);
}

main .project-area .grid .our-project .img a:hover img{
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Project Area */ 

/* start footer */
footer .row p{
  font-size: 13px;
  color: #888888;

}
footer .row p a:hover{
  color: #888888;
}

/* end footer */

/* start about page */
.about-1 .row.wraper{
  width: 400px;
  height: 300px;
}
.about-1 .row .col-lg-8 .wraper img{
  width: 700px;
  height: 400px;
}
.about-1 .row .col-lg-8 h1{
  font-family: Cormorant Garamond;
  font-size: 70px;
  padding-top: 5rem;
  font-weight: 40;
  line-height: 60px;
  padding-bottom: 5rem;
}
.about-1 .row .col-lg-8 h4{
  font-size: 40px;
  font-family: Cormorant Garamond;
  padding-right: 12rem;
  padding-bottom: 3rem;
}
.about-1 .row .col-lg-8 .has-2-columns {
  column-count: 2;
  color: black;

}
.about-1 .row .col-lg-8 p{
  padding-top: 1rem;
  padding-right: 8rem;
  color: #b1afaf;
  font-size: 16px;
}
.about-1 .row .col-lg-8 .para-2{
  color:black;
  font-family: Cormorant Garamond;
  font-size: 20px;
}
.about-1 .row .col-lg-8 .has-drop-cap{
  color: black;
  font-size: 20px;
}
.about-1 .row .col-lg-8 .has-medium-front-size{
  color: black;
  font-size: 20px;
  padding-top: 2rem;
}
.has-drop-cap::first-letter{
  font-size: 500%;
  color: black;
  float: left;
  margin: 0px 0px 0px 0px;
  line-height: 70px;
}

/* end about page */



/* contect us */
.contect-area  .row h2{
  font-size: 70px ;
  font-family: Crimson Text;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.contect-area .row h3{
  font-size: 25px;
  font-family:  Crimson Text;
  color: black;
  padding-right: 5rem;
  line-height: 40px;
}
h3::first-word {
  float: left;
  font-size: 500%;
  margin: 0 10px 10px 0;
  color: red;
}
.word::first-letter{
  font-size: 500%;
  color: black;
  float: left;
  margin: 0 10px 10px 0;
  line-height: 130px;
}
.para-4{
  font-size: 20px;
  color: black;
  font-weight: 500;
}

/* contact-us form */

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf'); 
}

@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/raleway/Raleway-Bold.ttf'); 
}

@font-face {
  font-family: Raleway-Black;
  src: url('../fonts/raleway/Raleway-Black.ttf'); 
}


/*---------------------------------------------*/
form{
margin-right: 10rem;
}
a {
	font-family: Raleway-SemiBold;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

label {
  display: block;
  margin: 0;
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 6rem;
}





/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 34px
}
.wrap-input100:hover{
  border: 1px solid #888888;
}

.rs1.wrap-input100 {
  width: calc((100% - 40px) / 2);
}


.label-input100 {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #555555;
  line-height: 1.5;
  text-transform: uppercase;
  width: 100%;

  padding-bottom: 11px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Raleway-SemiBold;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding: 0 25px;
}

input.input100 {
  height: 55px;
}

textarea.input100 {
  min-height: 162px;
  padding-top: 19px;
  padding-bottom: 15px;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid;
  border-color: black;
  border-color: -webkit-linear-gradient(45deg, black, black);
  border-color: -o-linear-gradient(45deg, black ,black);
  border-color: -moz-linear-gradient(45deg, black , black);
  border-color: linear-gradient(45deg, black , black);

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}



/*------------------------------------------------------------------
[ Button ]*/
.example_c {
  color: #ccc !important;
  text-transform: uppercase;
  text-decoration: none;
  background: black;
  padding: 10px;
  padding-left: 2em;
  padding-right: 2em;
  border: 2px solid black !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  }
  .example_c:hover {
    color: #666666 !important;
    background: transparent;
    border-color: black!important;
    transition: all 0.4s ease 0s;
    }

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 768px) {
  .wrap-contact100 {
    padding: 55px 45px 68px 45px;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 55px 15px 68px 15px;
  }

  .rs1.wrap-input100 {
    width: 100%;
  }

}


